﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

        <link href="~/Content/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="~/Images/atleta1.jpg">
        <script src="~/Scripts/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>



        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/">@Page.Title</a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                ¡Hola, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                                </form>
                            </text>
                        } else {
                            <ul>
                                <li><a href="~/Account/Register">Registrar</a></li>
                                <li><a href="~/Account/Login">Iniciar sesión</a></li>
                            </ul>
                        }
                    </section>
                   
                        <div class="container">

                            <nav class="navbar navbar-inverse navbar-static-top">
                                <div class="container">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>

                                        
                                    </div>
                                    <div id="navbar" class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">

                                            <li class="active"><a href="~/">INICIO</a></li>
                                            <li><a href="~/About.cshtml">NOSOTROS</a></li>
                                            <li><a href="~/Atletas.cshtml">ATLETAS</a></li>
                                            <li><a href="~/inscrip1.cshtml">INSCRIPCIONES</a></li>

                                            <li><a href="~/Contact.cshtml">CONTACTENOS</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </nav>

                        </div>
                   
                </div>
            </div>
        </header>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Danny Marles, Alejandro Torres.  Club Deportivo Ruta "C"</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="~/Scripts/jquery-1.11.3.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>


        <script src="~/Scripts/modernizr-2.6.2.js"></script>
    </body>
</html>