﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "CLUB DEPORTIVO RUTA C";
}

<hgroup class="title">
    <h1>Nosotros </h1>

</hgroup>

<article>
    <h1>Misión</h1>
    <p>En el Club El Rodeo construimos espacios, momentos y servicios para el bienestar de nuestros socios y sus
    familias a través del deporte, el esparcimiento y la interacción social en un ambiente de distinción; estamos 
    comprometidos con la mejora continua y el desarrollo de nuestros empleados.</p>
    <h1>Visión</h1>
    
    <p> Corto Plazo: Ser reconocidos por nuestra excelencia  en la prestación de servicios que reflejen distinción en nuestros socios y visitantes.
    Largo Plazo: Queremos ser reconocidos en la ciudad como el mejor Club contribuyendo a la generación de bienestar  de nuestros socios, invitados y empleados,  con servicios de calidad  contando con una infraestructura social y deportiva renovada.
</p>

    <h1>Junta Directiva</h1>

    <p>• Apolinar Zabala Jaramillo<br />
    • Luis Santiago Cuartas<br />
    • José Gabriel Hoyos<br />
    • Miguel Díaz<br />
    • Juan Felipe Betancur<br />
    • Ricardo Giraldo López<br />
    • Juan Esteban Cock</p>

    <h1>Socios</h1>
    <p> • Clara Noreña<br />
    • Luis Echeverri Mejía<br />
    • Luis Fernando Estrada<br />
    • Fernando González Sierra<br />
    • Jaime López<br />
    • Alexis Bonnet<br />
    • Tatiana Figueroa</p>
   
   

</article>

