﻿
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "CLUB DEPORTIVO RUTA C";
}
<hgroup class="title">
    <h1>ATLETAS DEL CLUB</h1>


</hgroup>


<div>
    <table >
        <tr>
            <td>NOMBRE </td>
            <td>TELEFONO</td>
            <td>EDAD</td>
        </tr>
        <tr>
            <td>Danny Adrian Marles Muñoz</td>
            <td>3132396457</td>
            <td>19</td>
        </tr>
        <tr>
            <td>Manuel Alejandro Torres Apache</td>
            <td>3124321232</td> 
            
            <td>20</td>
        </tr>
    </table>
</div>