﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "CLUB DEPORTIVO RUTA C";
}

<hgroup class="title">
    <h1>Contacto</h1>
    <h2>CLUB DEPORTIVO RUTA "C"</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefono: 435-1333</h3>
    </header>
    <p>
        <span class="label">Celular: </span>
        <span>+57 (314)486-6912</span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Email: </h3>
    </header>
    <p>
        <span class="label">Oficial</span>
        <span><a href="club-rutac@gmail.com">club-rutac@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Socios:</span>
        <span><a href="danny.marles96@gmail.com">danny.marles96@gmail.com</a></span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Direccion:</h3>
    </header>
    <p>
        cra.20 # 20-03 <br />
        B/ Acolsure
    </p>
</section>