﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "CLUB DEPORTIVO RUTA C";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="uno-slide" src="images/atleta.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1></h1>
                    <p></p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">¡¡Iniciar Sesión!!</a></p>
                </div>
            </div>
        </div>

        <div class="item">
            <img class="dos-slide" src="images/MMB15.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1></h1>
                    <a href="http://www.mediamaratonbogota.com/2015/" title="ASP.NET Web Pages Website">http://www.mediamaratonbogota.com/2015/</a>.
                    <p>MMB <code>file://www.mediamaratonbogota.com/2015/</code></p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">¡¡Mas Información!!</a></p>
                </div>
            </div>
        </div>

        <div class="item">
            <img class="tres-slide" src="images/atletismo2.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1></h1>
                    <p></p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">¡¡Mas Información!!</a></p>
                </div>
            </div>
        </div>

        <div class="item">
            <img class="cuatro-slide" src="images/atletismo.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Gran Prix Sur Colombiano de Atletismo</h1>
                    <p></p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">¡¡Mas Información!!</a></p>
                </div>
            </div>
        </div>

    </div>
</div>





<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="images/calendario.gif" alt="Generic placeholder image" width="140" height="140">
            <h2>CALENDARIO</h2>
            <p>allí encontrará la información actualizada de todos los eventos locales, nacionales e internacionales.</p>
            <p><a class="btn btn-default" href="http://colombiacorre.com.co/calendario.html" role="button">¡¡Detalles!! </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="images/news.png" alt="Generic placeholder image" width="140" height="140">
            <h2>NOTICIAS</h2>
            <p>Las ultimas noticias del atletismo Regional y Nacional</p>
            <p><a class="btn btn-default" href="http://colombiacorre.com.co/noticias.html" role="button">¡¡Detalles!!</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="images/multimedia.png" alt="Generic placeholder image" width="140" height="140">
            <h2>MULTIMEDIA</h2>
            <p>En esta sección encontraras las imagenes y videos de los eventos Regionales y de nuestros atletas.</p>
            <p><a class="btn btn-default" href="#" role="button">¡¡Detalles!!</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->




    <!--hr class="featurette-divider" -->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
 </div>
