﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "CLUB DEPORTIVO RUTA C";
}
<hgroup class="title">
    <h1>INSCRIBETE</h1>


</hgroup>

<form action="." oninput="range_control_value.value = range_control.valueAsNumber">
    <p>
        Nombre: <input type="text" name="name_control" autofocus required /> Apellido: <input type="text" name="name_control" autofocus required />

        <br /><br />
        Correo Electrónico: <input type="email" name="email_control" required />
        <br /><br />
        URL: <input type="url" name="url_control" placeholder="Escripe la URL de tu página deportiva favorita" />
        <br /><br />
        Fecha de Nacimiento: <input type="date" name="date_control" />
        <br /><br />
        Tiempo de entrenamiento: <input type="time" name="time_control" />
        <br /><br />
        
        Teléfono: <input type="tel" name="tel_control" />
        <br /><br />
        Celular: <input type="tel" name="tel_control" />
        <br /><br />
        Espectativas en el club: <input type="search" name="search_control" />
        <br /><br />
        
        <input type="submit" value="GUARDAR" />
    </p>
</form>